.container-products {
  padding: 120px 0;
}

.container-products > h2 {
  line-height: 67px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 400;
}

.wrapper-product {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /*   grid-template-columns: repeat(
    auto-fill,
    minmax(206px, 3fr)
  );  
 */
  justify-content: space-between;
  gap: 40px;
  overflow: hidden;
}

.wrapper-product .card-item {
  /*   width: 386px;
  height: 444px; */
  list-style: none;
  padding: 16px;
  cursor: pointer;
}
.wrapper-product .card-item:hover {
  box-shadow: 0px 4px 35px 0px #a8acb030;
}
.wrapper-img-card {
  position: relative;
  width: 200px;
}

.wrapper-img-card.disable-item {
  pointer-events: none;
}
.wrapper-img-card p {
  position: absolute;
  color: #8d8f9a;
  font-size: 24px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  top: 0;
  bottom: 0;
  align-items: center;
  width: 100%;
  display: grid;
  place-items: center;
}

.description-item {
  padding: 18px 0;
}
.wrapper-product .card-item .description-item .product-name {
  font-weight: 300;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #1d1f22;
}

.wrapper-product .card-item .description-item .price-item {
  font-weight: 400;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  display: flex;
}
